@tailwind base;

@tailwind components;

.btn {
  @apply font-bold py-2 px-4 rounded;
}
.btn-blue {
  @apply bg-blue-500 text-white;
}
.btn-blue:hover {
  @apply bg-blue-700;
}

.btn-orange {
  @apply bg-orange-500 text-white;
}
.btn-orange:hover {
  @apply bg-orange-700;
}

@tailwind utilities;
